<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>RIG Prompt Master</string>
  <key>CFBundleExecutable</key>
  <string>RIG Prompt Master</string>
  <key>CFBundleIdentifier</key>
  <string>tech.mikerodgers.rigpromptmaster</string>
  <key>CFBundleName</key>
  <string>RIG Prompt Master</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>15.3.0</string>
  <key>CFBundleVersion</key>
  <string>1530</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
</dict>
</plist>
